<p>
  <strong>Name:</strong>
  <%= @ecommerce.name %>
</p>

<p>
  <strong>Key:</strong>
  <%= @ecommerce.key %>
</p>

<p>
  <strong>State:</strong>
  <%= @ecommerce.state %>
</p>

<%= link_to 'Volver', root_path %>

